<div class="container">
    <h1>Home</h1>
    <img class="img-fluid" src="https://www.w3schools.com/css/img_lights.jpg" alt="Lights">

    <div *ngIf="token">
        <h2>Alumnos</h2>
    <table class="table table-striped">
        <thead >
            <tr>
                <th>idAlumno</th>
                <th>nombre</th>
                <th>apellidos</th>
                <th>imagen</th>
                <th>activo</th>
                <th>idCurso</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <td>{{alumno.idAlumno}}</td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellidos}}</td>
                <td><img src={{alumno.imagen}} style="width: 100px;"></td>
                <td>{{alumno.activo}}</td>
                <td>{{alumno.idCurso}}</td>
                <td><a [routerLink]="['/update', alumno.idAlumno]">Update</a></td>
                <td><button class="btn btn-danger" (click)="eliminarAlumno(alumno.idAlumno)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
